.wrap .hidden {
    display: none !important;
}

.wrap input.large-text,
.wrap textarea.large-text {
    width: 100%;
}

.wrap .tabs-panel:not(.tabs-panel-active) {
    display: none;
}

.wrap .instagram-user {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.wrap .instagram-user::after {
    content: '';
    display: table;
    clear: both;
}

.wrap .instagram-user [class*="-wrapper"] {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.wrap .instagram-user ~ .instagram-user {
    margin-top: 10px;
}

.wrap .instagram-user .username-wrapper {
    flex-basis: 75%;
}

.wrap .instagram-user .profile-picture-wrapper {
    flex-basis: 25%;
}

.wrap .instagram-user .profile-picture-wrapper .profile-picture {
    height: 40px;
    border-radius: 50%;
}